USE [master]
GO
/****** Object:  Database [PRA_db]    Script Date: 15/04/2025 18:08:53 ******/
CREATE DATABASE [PRA_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRA_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PRA_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRA_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PRA_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRA_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRA_db]
GO
/****** Object:  Table [dbo].[CarRegistration]    Script Date: 15/04/2025 18:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarRegistration](
	[IDCarRegistration] [int] IDENTITY(1,1) NOT NULL,
	[CarBrand] [nvarchar](256) NULL,
	[CarModel] [nvarchar](256) NULL,
	[RegistrationCountry] [nvarchar](256) NOT NULL,
	[RegistrationNumber] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCarRegistration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCard]    Script Date: 15/04/2025 18:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCard](
	[IDCreditCard] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](256) NOT NULL,
	[LastName] [nvarchar](256) NOT NULL,
	[CardNumber] [nvarchar](16) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[CvvHash] [nvarchar](256) NOT NULL,
	[CvvSalt] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCreditCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CreditCardDataBase]    Script Date: 15/04/2025 18:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CreditCardDataBase](
	[IDCreditCardDataBase] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](256) NOT NULL,
	[LastName] [nvarchar](256) NOT NULL,
	[CardNumber] [nvarchar](16) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[CvvHash] [nvarchar](256) NOT NULL,
	[CvvSalt] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCreditCardDataBase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15/04/2025 18:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IDUser] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](256) NOT NULL,
	[LastName] [nvarchar](256) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[UserPassword] [nvarchar](256) NOT NULL,
	[TestPassword] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Phone] [nvarchar](256) NOT NULL,
	[Temp2FACode] [nvarchar](256) NULL,
	[Temp2FACodeExpires] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCarRegistration]    Script Date: 15/04/2025 18:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCarRegistration](
	[IDUserCarRegistration] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CarRegistrationID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUserCarRegistration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCreditCard]    Script Date: 15/04/2025 18:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCreditCard](
	[IDUserCreditCard] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreditCardID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUserCreditCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserCarRegistration]  WITH CHECK ADD FOREIGN KEY([CarRegistrationID])
REFERENCES [dbo].[CarRegistration] ([IDCarRegistration])
GO
ALTER TABLE [dbo].[UserCarRegistration]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[UserCreditCard]  WITH CHECK ADD FOREIGN KEY([CreditCardID])
REFERENCES [dbo].[CreditCard] ([IDCreditCard])
GO
ALTER TABLE [dbo].[UserCreditCard]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[CreditCard]  WITH CHECK ADD CHECK  ((len([CardNumber])=(16)))
GO
ALTER TABLE [dbo].[CreditCardDataBase]  WITH CHECK ADD CHECK  ((len([CardNumber])=(16)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  ((len([UserName])>(5)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  ((len([UserPassword])>(5)))
GO
USE [master]
GO
