.dashboard-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashboard-header {
  position: sticky;
  top: 0;
  z-index: 1030; /* higher than default */
}

.dashboard-content {
  overflow-y: auto;
  flex-grow: 1;
  padding-bottom: 70px; /* space for bottom nav */
}
